<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addition</title>
</head>
<body>
    <form action="/add" method="post">
        <label for="id">ID</label>
        <input type="number" name="id" id="">
        <br>
        <label for="tit">Title</label>
        <input type="text" name="tit" id="">
        <br>
        <label for="aut">Author</label>
        <input type="text" name="aut" id="">
        <br>
        <input type="submit" value="Add">
    </form>    
</body>
</html>