<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletion</title>
</head>
<body>
    <div style="background-color: gray;">
        <form action="/delete_book" method="post">
            <label for="id">ID</label>
            <input type="number" name="id" id="">
            <br>
            <input type="submit" value="Delete">
        </form>            
    </div>
</body>
</html>